.calculator {
    border: 1px solid rgba(90, 90, 90);
    width: 200px;
    border-radius: 5px;
    margin: auto;
    background-color: rgb(153, 81, 81);
    
  }
  body{
     background-color: rgb(208, 203, 203);
     margin-top: 10rem;

  }

  h1{
    color:rgb(57, 56, 56);
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    justify-content: center;
    text-decoration: underline;
  
  }